* {
    font-family: 'monospace', sans-serif;
}

input {
    background-color: transparent;
}

.logButton {
    background-color: #00000000;
    transition: background-color 0.3s;
}

.logButton:hover {
    background-color: #00000020;
}

.entryList {
  overflow: hidden;
}

.entryList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.entryList::-webkit-scrollbar {
  display: none;
}
